/* .container {
  width: 1500px;
  opacity: 1;

}

 .form {

  background-color: whitesmoke;

}

.button {
  width: 310px;

}

.title {
 
  opacity: 1;
}

.input {
  width: 350px;
  padding-top: -20px;

}

.classes.button1 {
  width: 2000px;
  padding: 50px 24px;
} */