.size {
  width: 2500px;
  padding: 50px 24px;

}

.container {
  width: 400%;
  padding: 100px 14px;
  opacity: .8;

}

.form {
  padding: 20px 104px;
  background-color: whitesmoke;

}

.button {
  max-width: 310px;

}

.title {
  background-color: #42ab9e;
  opacity: .8;
}

.input {
  width: 350px;
  padding: 20px 224px;

}
